{% load static %}
<section class="register-section" id="services">
    <div class="container register-container">
        <div class="col-offset-3 col-md-6">
            <div id="success-message"></div>
            <form method="POST" id="register-form" novalidate>
                {% csrf_token %}
                <div class="form-group">

                    <!-- {% for field in form %}
                        <label>{{field.label_tag}}</label>
                        {{ field }} -->
                    <!-- {% for error in field.errors %} -->
                    <!-- {% endfor %} -->
                    <!-- {% endfor %} -->

                    {{form.as_p}}
                    <div id="form-errors"></div>
                    <input type="submit" name="register" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</section>